<div class="row mb-4">
  <div class="col-12 mt-5">
    <h1>Florida COVID-19 Cases</h1>
    
    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Total</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">13,629</h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Residents</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">13,214</h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Non Resident</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">415</h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Recovered</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">0</h1>
        </div>
      </div>

    </div>
  </div>
</div>