<div class="row mb-4 mt-5">
  <div class="col-12">
    <h1>Cases by States</h1>
    
    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card shadow-sm">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Residents</th>
                <th scope="col">Deaths</th>
              </tr>
            </thead>
            <tbody>
              <% @states.each do |state| @stat = state.state_stats.first %>
                <tr>
                  <th scope="row"><%= state.name %></th>
                  <td><%= number_with_delimiter(@stat.positive_residents) %></td>
                  <td><%= number_with_delimiter(@stat.deaths) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>